DATABASE_HOST =
DATABASE =convertor
DATABASE_USER =
DATABASE_PASSWORD =
DATABASE_PORT =3306

CURRENCY_API_KEY=
CURRENCY_API_URL=https://api.freecurrencyapi.com/v1

TimeOut = 60000
InsecureAuth = true
ConnectionLimit = 20
PORT = 8060
NODE_ENV=development